aiohttp==3.7.4.post0
ansi==0.2.0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorlog==5.0.1
cryptography==3.4.7
daemonize==2.5.0
deepmerge==0.3.0
discord.py==1.6.0
dnspython==2.1.0
dulwich==0.20.24
errbot==6.1.8
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
mongo==0.2.0
multidict==5.1.0
pycodestyle==2.7.0
pycparser==2.20
Pygments==2.9.0
pygments-markdown-lexer==0.1.0.dev39
pymongo==3.12.0
pyOpenSSL==20.0.1
python-dotenv==0.18.0
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
waitress==2.1.1
WebOb==1.8.7
WebTest==2.0.35
Werkzeug==2.0.1
yarl==1.6.3
